<div class="pt-3">
<form  [formGroup]="itemSearchForm">
  <div class="row">
    <div class="col-lg-3">
      <mat-form-field appearance="outline" class="example-form-field">
        <mat-label> Item Name :</mat-label>
        <input (keyup)="search()" formControlName="item" matInput type="text">
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="outline" class="example-form-field">
        <mat-label>Select a Brand :</mat-label>
        <mat-select (selectionChange)="search()" formControlName="brand">
          <mat-option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div> <div class="col-lg-3">
      <mat-form-field appearance="outline" class="example-form-field">
        <mat-label>Select a Category :</mat-label>
        <mat-select (selectionChange)="search()" formControlName="subcategory">
          <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3  ">
      <!--        <div class="float-start">-->
      <button (click)="clearForm()" class="btn-clear" color="warn" mat-stroked-button type="button">Clear</button>&nbsp;
      <!--        </div>-->
    </div>



  </div>

</form>

</div>



<div class="table-responsive">
  <table [dataSource]="items" class="w-100" mat-table>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> ID</th>
      <td *matCellDef="let item" mat-cell> {{item.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let item" mat-cell> {{item.name}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th *matHeaderCellDef mat-header-cell> Price</th>
      <td *matCellDef="let item" mat-cell> {{item.price}} </td>
    </ng-container>
<!--    <ng-container matColumnDef="image">-->
<!--      <th *matHeaderCellDef mat-header-cell> Image</th>-->
<!--      <td *matCellDef="let item" mat-cell> {{item.image}} </td>-->

<!--    </ng-container>-->

    <ng-container matColumnDef="itemCode">
      <th *matHeaderCellDef mat-header-cell> Item Code</th>
      <td *matCellDef="let item" mat-cell> {{item.itemCode}} </td>
    </ng-container>
    <ng-container matColumnDef="statusItem">
      <th *matHeaderCellDef mat-header-cell> Item Status</th>
      <td *matCellDef="let item" mat-cell> {{item.statusItem?.['name']}} </td>
    </ng-container>
    <ng-container matColumnDef="subCategory">
      <th *matHeaderCellDef mat-header-cell> Item Category</th>
      <td *matCellDef="let item" mat-cell> {{item.subCategory?.['name']}} </td>
    </ng-container>
    <ng-container matColumnDef="brand">
      <th *matHeaderCellDef mat-header-cell> Item Brand</th>
      <td *matCellDef="let item" mat-cell> {{item.brand?.['name']}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
